#movingicon{
    position: absolute;
    display: none;
    height:15px;
    width:15px;
    /*background: aqua;*/
    animation:move 1.2s 1;
    z-index: 20;

}

@keyframes move
 {
     0% {top:0px;left:0px;}
     50% {top:0px;left:100px;}
     100% {top:100px;left:100px;}
 }